*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
::-webkit-input-placeholder { /* Edge */
    color: #fff;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: #fff;
  }
  
  ::placeholder {
    color: #fff;
  }
.header{
    position: relative;
    padding-bottom: 10px;
}
.header>div{
    display: inline-block;
}
.header .timkiem{
    position:absolute;
    right: 0;
    top: 10px;
    right: 10px;
}
.header .timkiem input,button{
    border: 1px solid #9082ec ;
    background-color: rgb(76, 76, 163);
    
}
.header,.menu{
    background-color: darkslateblue;
    color: #fff;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
ul li a{
    color: #fff;
    display: block;
}
.menu ul li{
    display: inline-block;
    margin-left: 5px;
}
.menu p,ul{
    margin-right: 0;
}
.menu{
    height: 40px;
}
.menu ul{
    text-align: right;
    margin-right: 10px;
    margin-top: -6px;
}
.menu ul li a{
    background-color: rgb(108, 121, 240);
    padding: 5px;
}